/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* Start of my nav for all my web pages*/



.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #285238;
    
    opacity: 80%;
    position: relative;
    margin: 5px 0px 0px 0px;
    
    
}

.nav_li{
  
float: left;
border-right: 2px solid rgb(31, 58, 0);
padding: 0 0 0 5px;

}

.nav_a{

  display: block;
padding: 15px;
  background-color: #285238;
  text-align: center;
  text-decoration: none;

  font-size: 20px;
  color:white;

margin:10px;


transition: all .5s ease-in-out;

}

.nav_a:hover{

   background-color: #138A36;
    padding: 25px;
    border-radius: 25px 0px 25px 0px;;
}



.nav_a_img{

    display: block;
  
    border-radius: 0px 200px 200px 0px;
 background-color: #138A36;
    
    text-align: center;
    text-decoration: none;
   padding:10px;
   
   transition: all 1.2s ;
   
    
 
  }



  .nav_a_img:hover{

    border-radius: 200px 0px 0px 200px;
    background-color: greenyellow;

 

  }

/* end of nav*/




body{
 
 background-image: url("../images/maui.png");
 background-repeat: no-repeat;
 background-position: top;
 min-height: 100%;
 
 
 background-size:cover;

    background-color: #34403A;

    color: #138A36;
   

}


/* index page*/

.info_wrapper{

list-style-type: none;

}

.info_list{

background-color: black;
padding: 5px;
height: 100px;
width: 5px;
display: inline-block;

margin: 50px 0px 0px 25px;


}

.info_list:hover{


    background-color: white;


}

.body-wrapper{

display: grid;
place-items: center;

    
}

.grid-info{
display: grid;


grid-template-rows: 2vw 2vw 2vw 2vw;
grid-template-columns: 150px 150px 150px 150px ;




}


.info-div1 ,.info-div2, .info-div3, .info-div4{


background-color: white;
opacity: 95%;


border: 3px solid red;

text-align: center;

}


.info-div1{
 

 grid-row: 4/  4;
 grid-column: 1/ 5;
 transition-delay: 3s;
 
 

}

.info-div1:hover{
  grid-row: 4/  4;
  grid-column: 1/ 5;
 
  
padding: 200px;



}

.info-div2{

  grid-row: 1/1;
  grid-column: 1/5;
}
.info-div3{
grid-row: 2/2;

grid-column: 4/4;

}

.info-div4{
grid-row: 2/2

}

