/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* Start of my nav for all my web pages*/



.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #285238;
    
    
    
    
}

.nav_li{
  
float: left;
border-right: 2px solid rgb(31, 58, 0);

}

.nav_a{

  display: block;
padding: 15px;
  background-color: #285238;
  text-align: center;
  text-decoration: none;

  font-size: 20px;
  color:white;

margin:10px;


transition: all .5s ease-in-out;

}

.nav_a:hover{

   background-color: #138A36;
    padding: 25px;
    border-radius: 25px 0px 25px 0px;;
}



.nav_a_img{

    display: block;
  
    border-radius: 0px 200px 200px 0px;
 background-color: #138A36;
    
    text-align: center;
    text-decoration: none;
   padding:10px;
   
   transition: all 1.2s ;
   
    
 
  }



  .nav_a_img:hover{

    border-radius: 200px 0px 0px 200px;
    background-color: greenyellow;

 

  }

/* end of nav*/




body{

    background-color: #34403A;

    color: #138A36;
}


/* index page*/